{% for type , messages in app.flashes(['warning','success','danger','info','debug']) %}
    {% for message in messages %}
        <div class="cool-md-12 mx-auto mt-2">
            <div class="alert alert-{{ type }} alert-dismissible fade show" >
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endfor %}