{% extends 'base.html.twig' %}

{% block title %}Modification des catégorieSites{% endblock %}

{% block body %}
    <h1>Modifier la catégorieSite</h1>

    {{ include('category_site/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outlie-primary" href="{{ path('app_category_site_index') }}">Retour à la liste</a>

    {{ include('category_site/_delete_form.html.twig') }}
{% endblock %}
