{% extends 'base.html.twig' %}

{% block title %}Nouveau CategorySite{% endblock %}

{% block body %}
    <h1>Créer un nouveau CategorySite</h1>

    {{ include('category_site/_form.html.twig') }}

    <a href="{{ path('app_category_site_index') }}"></a>
{% endblock %}
