{% extends 'base.html.twig' %}

{% block title %}Modification des utilisateurs{% endblock %}

{% block body %}
    <h1>Modifier l'utilisateur</h1>

    {{ include('profil/_form.html.twig', {'button_label': 'Update' , 'class':'btn btn-outline-info'}) }}

    <a  class="btn btn-outline-info" href="{{ path('app_profil_index') }}">Retour à la liste</a>

    {{ include('profil/_delete_form.html.twig') }}
{% endblock %}
