{% extends 'base.html.twig' %}

{% block title %}Nouveau utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouveau utilisateur</h1>

    {{ include('profil/_form.html.twig') }}

    <a class="btn btn-outline-info" href="{{ path('app_profil_index') }}">Retour à la liste</a>
{% endblock %}
