body {
    background-color: skyblue;
}
.login-form{
    width: 500px;
    text-align: center;
}
.btn-logout{
    color: aliceblue;
    text-decoration: none;
}
    /* 
    .citation{
        margin-left: 5%;
    } */