{% extends 'base.html.twig' %}

{% block title %}Nouveau Type de permission{% endblock %}

{% block body %}
    <h1>Créer Nouveau Type de permission</h1>

    {{ include('type_permission/_form.html.twig') }}

    <a href="{{ path('app_type_permission_index') }}">Retour à la liste</a>
{% endblock %}
