{% extends 'base.html.twig' %}

{% block title %}New TypePermission{% endblock %}

{% block body %}
    <h1>Create new TypePermission</h1>

    {{ include('type_permission/_form.html.twig') }}

    <a href="{{ path('app_type_permission_index') }}">back to list</a>
{% endblock %}
