{% extends 'base.html.twig' %}

{% block title %}Nouveau permission{% endblock %}

{% block body %}
    <h1>Créer un nouveau permission</h1>

    {{ include('permission/_form.html.twig') }}
    
    <br><a class="btn btn-outline-secondary" href="{{ path('app_permission_index') }}">Retour à la liste</a>
{% endblock %}
