{% extends 'base.html.twig' %}

{% block title %}Profil !{% endblock %}

{% block body %}
<br>
<div class="info">
    <div class="photo">
        <img src="{{ asset('uploads/images/' ~ app.user.image) }}" alt="User Image" class="rounded float-start" style="max-width: 10%; max-height: 10%;">
    </div>
    <div class="info-nom-prenom-status">
        <div class="info-nom">
            Nom : {{ app.user.name }}
        </div>
        <div class="info-prenom">
            Prénom : {{ app.user.surname }}
        </div>
        <div class="info-status">
            Status : {{ app.user.situationFamiliale }}
        </div>
    </div>
</div>
<div>
    
    
</div>
{% endblock %}

