{% extends 'base.html.twig' %}

{% block title %}Profil !{% endblock %}

{% block body %}
<br>
<img src="{{ asset('uploads/images/' ~ app.user.image) }}" alt="User Image" class="rounded float-start" style="max-width: 10%; max-height: 10%;">

<div>
    Nom : {{ app.user.name }}
    Prénom : {{ app.user.surname }}
</div>
{% endblock %}

